[2015-12-19 14:53] smartypejohn opened #1 "ANDROID"
Great add on mate.  Works perfect on all of my WINDOWS based devices;  however, I keep receiving an error message on my ANDROID devices (ERROR: PCLOUD STREAMING ERROR.   CHECK THE CHANGE LOG FOR MORE INFORMATION ).  I am unable to log in with my credentials;  Once I launch the add on I receive this error message immediately.   Hopefully you'll be able to resolve this issue; I really like this add

[2015-12-20 15:20] gdomenici commented on #1
Thanks for bug report @smartypejohn . In fact it looks like the Python interpreter in Android has some quirks compared to the Windows one. I fixed a couple of things to make the Android interpreter happy, but more corner cases keep popping up. Will keep hammering.

[2015-12-20 15:52] smartypejohn commented on #1
Thanks I really appreciate your response and I hope this could be
resolved.  Again, great work.
On Dec 20, 2015 10:21 AM, "gdomenici" <notifications@github.com> wrote:

[2015-12-20 16:26] smartypejohn commented on #1
I'm sure if this add on is functional for KODI on ANDROID OS devices it will surely gain popularity quick amongst community users.  I can't wait; most of my mobile devices are ANDROID.  Hope all works out mate.   Really appreciate this.  👍

[2015-12-20 20:26] gdomenici commented on #1
Thanks for the kind words @smartypejohn . In fact the fixes were pretty easy after all. I have tested it on exactly 1 device (a Motorola Moto G 1st gen with Android 5.1) and at least it works well there now.

I have published release 1.2.0 at https://github.com/gdomenici/plugin.video.pcloud-video-streaming/releases; will submit to main Kodi repo soon.

Closing the issue for now, but do feel free t

[2015-12-20 20:26] #1 closed

[2015-12-20 20:37] smartypejohn commented on #1
You are the best!!!  Nice!!  I really appreciate your time and work.  This
will definitely be put to good use.  Myb4 year old can now access his
training vids from our pcloud account.   Great!!!  Thumbs up.  If you have
any links or Google wallet account;  I'll be glad to send a donation.
Thanks again.
On Dec 20, 2015 3:26 PM, "gdomenici" <notifications@github.com> wrote:

[2015-12-21 07:19] gdomenici commented on #1
Very gracious of you, but a donation won't be necessary. Your enthusiasm is already a reward, and I really mean that. Glad to hear I could help!

Guido

[2015-12-24 15:36] smartypejohn commented on #1
Have a happy holiday.  Thanks again.  👍✊
On Dec 21, 2015 2:19 AM, "gdomenici" <notifications@github.com> wrote:

[2016-04-09 00:43] smartypejohn opened #2 "PCLOUD STREAMING PLUGIN FOR KODI 16.0 JARVIS"
Good Evening Guido,

Hope all is well and you and your loved ones are in the best of health.  We spoke before the close of last year in regards to this wonderful add on you developed.  It has been working like a charm for my wife and kids.  As I am sure you are aware; KODI is now at version 16.0 JARVIS and it seems as though the PCLOUD plugin is not as accurate as usual when content is added to my

[2016-04-09 13:23] gdomenici commented on #2
Hi John,

Thanks again for your kind words. Indeed there was an issue with expired authentication tokens, which would crash the plugin on startup. Now, should that happen, the plugin will show the "authenticate to PCloud" dialog and let the user log on. Tested on Windows and Android, and it seems to work fine. I'll close this; feel free to reopen if version 1.2.3 does not seem to fix the issue.

K

[2016-04-09 13:23] #2 closed

[2016-04-09 13:33] smartypejohn commented on #2
Thanks mate.  Is there a link for 1.2.3?  👍😊
On Apr 9, 2016 9:23 AM, "Guido Domenici" <notifications@github.com> wrote:

[2016-04-09 13:37] gdomenici commented on #2
Sure. Just download the ZIP from https://github.com/gdomenici/plugin.video.pcloud-video-streaming/releases/tag/1.2.3. You ought to be able to install it with Kodi's "install from zip". I'll also submit it to the official repo, but it usually takes a few days before it's pulled.

[2016-11-21 23:29] smartypejohn opened #3 "pCloud Streaming Add On Error Check Log Information Message"
Good Evening Guido,

Hope all is well as always.   I think I sent a message last year this time.   Lol;  anyway,  I just wanted to let you know that it seems like the pCloud add on is broken again.   My wife and I continue to use it for the kids and it's a saver!   I would like to thank you again and hope that you could get this plugin back up and running.   Two thumbs up from my 5 year old.... Lo

[2016-11-21 23:30] smartypejohn commented on #3
KODI Jarvis /Krypton
Android & Windows

[2016-11-26 20:00] gdomenici commented on #3
Hi John,

Glad to hear you're still enjoying the plug-in...

I'll be happy to help, but it works well for me on Kodi 16.1, both on Windows and on Android.

Maybe an option would be to delete the directory %appdata%\Kodi\userdata\addon_data\plugin.video.pcloud-video-streaming? (on Windows) If you do so, you will be reauthenticated next time you start the plugin, but it lets you start afresh.

If yo

[2016-11-26 23:33] smartypejohn commented on #3
Thanks for the response.   It appeared to be some traffic issue directly
associated with pCloud service. I should have let you know sooner but I
didn't pin point the issue until I received a response from pCloud support.
Thank you so much once again for making sure my family and I are
connected.   Lol. Enjoy your weekend. ✊😊

On Nov 26, 2016 3:00 PM, "Guido Domenici" <notifications@github.com> wro

[2017-02-28 15:14] emileleusis opened #4 "Problem to stream movie from pCloud"
Hello Guido,

I was very happy to find your pcloud plugin for KODI. I'm using Kodi 17 sideloaded to the Fire TV Stick. I can login to the pcloud just fine and see all the content. But as soon as I want to stream an error message pops up telling me that there is a streaming error. I tried to stream the standard mp4 video from the pcloud video folder or mkvs but it always fails. Do you have an idea

[2017-03-01 22:06] gdomenici commented on #4
Hi Udo,

Thanks for your kind words. Alas I have a hard time reproducing the issue coz I don't have access to a Fire TV stick at the moment, and otherwise it works OK for me on Windows and on Android.

Do you have any way to get the Kodi log off of the Fire TV Stick and paste it/attach it here? I am not sure if you have direct filesystem access on the Stick, but there is at least one Kodi plugin c

[2017-03-01 22:23] emileleusis commented on #4
Hello Guido,

thank you for your answer. I tried to make some photos :-( hope the quality
is alright. Seems that there is a problem with the ID that is not
numerical. But you will know better. I got a TV box where I experienced the
same behaviour.
Are the screenshots enough ?
Thank you for your help.

have a pleasant evening.

bye
Udo

2017-03-01 23:06 GMT+01:00 Guido Domenici <notifications@githu

[2017-03-02 22:59] gdomenici commented on #4
Hi @emileleusis ,

Thanks for the logs; they do shed light on the issue. I fixed it in 1.2.6. You can download the new version from https://github.com/gdomenici/plugin.video.pcloud-video-streaming/releases/download/1.2.6/plugin.video.pcloud-video-streaming_1.2.6.zip, or simply wait until it's pulled in the main repo (usually it's a matter of days).

Kind regards,

Guido

[2017-03-02 22:59] #4 closed

[2017-03-03 07:56] emileleusis commented on #4
Hello Guido,

wow .... that was fast ! That you so much for your quick help. I tested it
yesterday and it worked like a charme. Thank you for this great plugin.

Have a good weekend.
bye
Udo

Am 03.03.2017 00:00 schrieb "Guido Domenici" <notifications@github.com>:

[2017-03-03 09:13] gdomenici commented on #4
You're very welcome. Glad it works out. BTW, I had some trouble with the pull request to the official repo, so it's probably gonna be a while more before it shows up as an automatic update via Kodi.

Kind regards,

Guido

[2017-03-03 09:13] #3 closed

[2017-04-05 00:20] smartypejohn opened #5 "Error Message In KODI v. 17.1 (KRYPTON)"
Error Message.  Check Log Error.   As always great job and thanks.

[2017-04-15 18:51] gdomenici commented on #5
Hi @smartypejohn ,

I am afraid there was no log attached here. Nor am I able to see any issue with the plugin on Kodi 17.1, on either Windows or Android. Do you maybe have any more details?

Kind regards,

Guido

[2017-06-12 08:38] mash1k opened #6 "Flac streaming"
Hello,

great add-on.
I would like to use it to stream flac music files that I have on pcloud. I'm using the android version of kodi on my mobile phone with your plugin.

It works in the current version but only for one file at a time.

Could you please program the add-on to play the next file in the album/folder automatically? and also add next track or previous track buttons...
Is the flac trans

[2017-06-12 19:37] gdomenici commented on #6
Hi @mash1k

Sure. I'll look into whether it can be done.

Kind regards,

Guido

[2017-06-12 19:41] mash1k commented on #6
Thank you! Great work!
This will be better than the official pcloud Android app which plays flac
files only until the middle of the song... I wrote to them about it.

On Jun 12, 2017 22:37, "Guido Domenici" <notifications@github.com> wrote:

[2017-06-13 22:31] gdomenici commented on #6
Hi @mash1k

Thanks for your kind words.

Turns out there's already a built-in way to "program the add-on to play the next file in the album/folder automatically" -- see https://forum.kodi.tv/showthread.php?tid=213730&pid=1881783#pid1881783. You just need to right-click (desktop) or long-tap (mobile) the first FLAC file you want to play, and select "Play from Here". That will do the trick.

As for

[2017-06-13 22:51] mash1k commented on #6
Hello, thank you for answering. I tried the play from here button, but it
never goes to next song.. Just stops playing the music.

Also tried in player settings to activate 'play next file automatically'
but didn't work.

Hope you can fix it somehow.

Best regards,
Mashik

On Jun 14, 2017 01:31, "Guido Domenici" <notifications@github.com> wrote:

Hi @mash1k <https://github.com/mash1k>

Thanks for

[2017-06-21 11:06] mash1k commented on #6
Hello,

Now the 'play from here' option is working !

Thank you,
Mashik

[2017-06-21 15:39] gdomenici commented on #6
Hi @mash1k

Great to hear & sorry for the silence... i really didnt know how to answer, so I'm glad it's working for you now :)

Kind regards,

Guido

[2017-06-21 15:39] #6 closed

[2017-09-18 19:37] ehmcruz opened #7 "suggestions"
Great plugin!

I would like to suggest some features:

1- support for loading external subtitles. I have several files with srt subtitles. It would be interesting to be able to load them together with the video, like kodi does when the file is stored locally.

2- sort the files in the folders alfabetically

thx!

[2017-11-01 10:02] Danieldiazi opened #8 "Kodi 17.5 - pCloud 1.2.5 - Unplayable item"
Hi
After I've installed pCloud addon from kodi repository (version 1.2.5) on Raspberrry Pi 3 (libreelec with Kodi 17.5) I can't play any file from pCloud (including sample files of pCloud, like pCloud.mp4 or momentum.mp3).

At log viewer I can see:

"ERROR: Playlist player: skipping unplayable item: 0, path
[plugin://plugin.video.pcloud-video-streaming/?mode=file&fileID=4224397089L]
->End of Pytho

[2017-11-01 20:16] gdomenici commented on #8
Hi @Danieldiazi

I believe I fixed this in version 1.26, which however (for boring reasons) is not in the official Kodi repo yet. If you want, you can install 1.2.6 manually from https://forum.kodi.tv/showthread.php?tid=239955.

Let me know if that doesn't help your issue. In the meantime, I should get off my butt and try and figure out the boring issue that prevents me from updating the plugin in

[2017-11-03 20:35] Danieldiazi commented on #8
Thanks, It works!

[2017-11-04 20:00] gdomenici commented on #8
You're welcome! And thanks for the pull request. Merged.

Kind regards,

Guido

[2017-11-04 20:00] #8 closed

[2017-11-04 20:46] Danieldiazi commented on #5
I'm using kodi on 17.5 and I don't have any problem with the addon. Maybe it's the same that #8 ?

[2017-11-05 21:13] gdomenici commented on #7
Hi @ehmcruz

Sorry for the extremely delayed reply!

About 1: yes, I think it can be done. In your view, how would the plugin determine the subtitle filename automatically? Maybe it should look for a file with the same name as the movie file but with an .srt extension, in the same PCloud folder?

About 2: If I'm not mistaken, they're alphabetical already. Please double-check. If not, please provid

[2017-11-07 20:31] gdomenici commented on #7
Fixed in [version 1.2.7](https://github.com/gdomenici/plugin.video.pcloud-video-streaming/releases/download/1.2.7/plugin.video.pcloud-video-streaming_1.2.7.zip).

[2017-11-07 20:31] #7 closed

[2018-01-10 13:50] Danieldiazi opened #12 "Suggestion: Publish addon on kodi official repository"
Hi, great job and useful addon.
This is a suggestion, if it's possible, why not publish your addon on kodi official repository. Kodi users will have the addon in a easy way for download.

Maybe is a hard work, if I can help, no problem!

[2018-01-10 14:53] gdomenici commented on #12
Hi @Danieldiazi
Thanks for the kind words. The plugin is on the official repo already -- it's just a few versions behind the one I publish as a ZIP on the forum. See https://github.com/xbmc/repo-plugins/tree/helix/plugin.video.pcloud-video-streaming.

Kind regards,

Guido

[2018-01-10 14:53] #12 closed

[2018-02-27 01:24] ehmcruz opened #13 "Support for external subtitles"
Hey. Do you think you can add support for external subtitles?
For instance, it could check if there is a srt subtitle with the same file name as the video file in the pcloud folder, and automatically download the srt file and load  it with the video, as it already happens when the files are local.

[2018-04-27 02:28] ehmcruz opened #14 "ssl error"
23:13:40.377 T:12076   ERROR: ERROR: cannot logon to pCloud: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:661)>
23:13:40.406 T:10880   ERROR: XFILE::CDirectory::GetDirectory - Error getting plugin://plugin.video.pcloud-video-streaming/?content_type=video
23:13:40.408 T:10880   ERROR: CGUIMediaWindow::GetDirectory(plugin://plugin.video.pcloud-video-streaming/?co

[2018-04-29 12:42] gdomenici commented on #14
Hi @ehmcruz,

I cannot reproduce this issue, at least not on Windows 10. For me, logon is successful. What platform are you on?

Kind regards,

Guido

[2018-04-29 20:50] gdomenici commented on #13
Hi @ehmcruz ,

This is fixed in 1.2.9, available from the releases tab.

Kind regards,

Guido

[2018-04-29 20:50] #13 closed

[2018-04-29 22:40] ehmcruz commented on #14
I am running kodi inside Windows 10.
I know that recently pcloud changed its SSL certificate.
Maybe the issue is related to that?

[2018-04-29 22:56] ehmcruz commented on #14
I tried in my ubuntu based media center, indeed the problem doesn't happen.
But it does happen in my Windows 10 installation.
Tomorrow I will try again and report here.

[2018-11-24 00:18] benben2033 opened #15 "Two-Factor Authentication"
Hi,
can you add support for case when I have u2f authentification enabled on my pCloud - would be great

[2018-11-27 09:03] gdomenici commented on #15
Hi @benben2033 ,

Sure, I'll look into whether that is possible.

Kind regards,

Guido

[2018-12-01 20:52] gdomenici opened #16 "Using PCloud Video Streaming as a "video source""
User "rocafebo" on the Kodi forums asks if it's possible to use this pluigin to have PCloud contents as a "video source". This is currently not possible (as of version 1.2.9) but I am creating this ticket to investigate whether it can be enabled.

[2018-12-01 21:30] gdomenici commented on #14
Closing due to inactivity... if you still experience this issue @ehmcruz please feel free to reopen.

[2018-12-01 21:30] #14 closed

[2018-12-01 21:53] gdomenici opened #17 "PCloud folders with 500+ items cannot be accessed"
As reported in the forums at https://forum.kodi.tv/showthread.php?tid=239955&pid=2767848#pid2767848, when one tries to access folders with 500+ items, one gets an error message. This happens on Win10 x64 and on NVidia Shield.

Reproduced by @gdomenici on plugin version 1.2.9 and Kodi 17.6 on Win10 x64.

[2018-12-01 22:05] gdomenici commented on #5
Closing due to inactivity.

[2018-12-01 22:05] #5 closed

[2018-12-01 22:40] gdomenici commented on #17
This is fixed in [release 1.2.10](https://github.com/gdomenici/plugin.video.pcloud-video-streaming/releases/tag/1.2.10).

[2018-12-01 22:40] #17 closed

[2018-12-02 17:28] harryberlin opened #18 "login not possible"
can not log in to pcloud and use the addon.
system: android
log file entry:
18:25:33.251 T:524520780880   ERROR: ERROR: cannot logon to pCloud: Error calling userinfo: Log in failed
18:25:33.285 T:525164774480   ERROR: GetDirectory - Error getting plugin://plugin.video.pcloud-video-streaming/?content_type=video
18:25:33.286 T:525164774480   ERROR: CGUIMediaWindow::GetDirectory(plugin://plugin.vide

[2018-12-02 21:42] harryberlin commented on #18
yes, it is working in webbrowser and app.

[2018-12-02 21:51] gdomenici commented on #18
Hi @harryberlin
In that case, then probably something got borked along the way. If you know how to access the Android filesystem, then just delete the directory /sdcard/Android/data/org.xbmc.kodi/files/.kodi/userdata/addon_data/plugin.video.pcloud-video-streaming. Kodi will recreate it as soon as you start using the plugin again.

If not, I am not sure... maybe removing the plugin and readding it

[2018-12-02 22:06] harryberlin commented on #18
there is no subfolder for pcloud.
i reinstalled the addon but no success.

[2018-12-03 10:55] gdomenici commented on #18
Hi @harryberlin

The clue of the "+" in the email address is a good one ... i'm betting that the URL encoding of the PCloud API somehow messes with it. One thing you can do is to try with a throwaway account that doesn't have the "+" and see if that works. If it does, then we know for sure that's the problem. In that case, when I have time (possibly tonight) I'll create a fix. (I also accept pull

[2018-12-03 10:59] harryberlin commented on #18
i tried to replace the '+' by '%20' in keyboard dialog but same result.

are there some information about response of pcould api? maybe i can try to solve the issue.

[2018-12-03 14:40] gdomenici commented on #18
I'm guessing the snafu happens somewhere around here:
https://github.com/gdomenici/plugin.video.pcloud-video-streaming/blob/master/resources/lib/pcloudapi.py#L70
although it manifests itself a few lines later (the raise at line 84).

If im right (havent verified) the way im planning to fix it is by switching from GET to POST -- an example is a few lines later (around [here](https://github.com/gdom

[2018-12-03 14:56] harryberlin commented on #18
there was a ssl verification error in my case.
check pull request.
i'm unsure, if using this workaround is useful.

[2018-12-03 16:22] gdomenici commented on #15
Hi @benben2033

I have contacted PCloud technical support and, alas, they said "Unfortunately, you can't enable the two-factor authentication via the API at this time". And the plugin does need to operate via their API. Sorry about that.

I'll have to close this one, but I'll keep monitoring if the API situation in PCloud changes.

Kind regards,

Guido

[2018-12-03 16:22] #15 closed

[2018-12-03 21:59] gdomenici commented on #18
Hi @harryberlin ,

I fixed it in 1.2.11, [available on the Releases page](https://github.com/gdomenici/plugin.video.pcloud-video-streaming/releases/tag/1.2.11). I saw your PR, but preferred not to use it because I found the solution that switches to POST (instead of GET) more resilient to several other "special" characters. So that's what I did. I have tested with an email with a "+" in it, and no

[2018-12-03 21:59] #18 closed

[2018-12-03 22:57] harryberlin commented on #18
great, it is working :)

[2018-12-04 11:29] harryberlin opened #20 "urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:661)"
ssl issue exist any more :(
finally today i did the test for #18 with new version on windows and got the errors again.

`12:23:35.432 T:7240   ERROR: ERROR: cannot logon to pCloud: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:661)>
12:23:35.474 T:3432   ERROR: XFILE::CDirectory::GetDirectory - Error getting plugin://plugin.video.pcloud-video-streaming/?content_

[2018-12-05 10:05] gdomenici commented on #20
Hi @harryberlin

Did you do the steps mentioned in #18? Namely,

Screenshot on Win10:
![Screenshot on Win10](https://i.imgur.com/kVL1T3f.png)

If I do this and _then_ launch Kodi, all cert errors are ignored.

[2018-12-05 12:40] harryberlin commented on #20
because of your post in #18 and #19, i thought it is not the method to prefer.

[2018-12-05 12:55] gdomenici commented on #20
Hi,

In #18 I fixed the problem with the "+" in the username. The TLS untrusted cert is a different problem which is not related to this plugin as far as I can tell -- in fact, the fact  that the PCloud TLS cert is seen as untrusted on your machine is puzzling to me (it is trusted on all the devices I could lay my hands on).

Yet, with the PYTHONHTTPSVERIFY environment variable, you get a "free" s

[2018-12-05 22:55] harryberlin commented on #20
ok

[2019-11-21 19:58] gdomenici opened #21 "Add-on breaks with Kodi 19, due to the Python 3 interpreter"
pcloud-video-streaming cannot start on Kodi 19 preview (Kodi 19.0-ALPHA1) due to the Python 3 interpreter present in that Kodi version instead of Python 2 in all previous versions. See https://www.ghacks.net/2019/11/19/kodi-19-may-break-some-add-ons/.

See also https://kodi.tv/article/attention-addon-developers-migration-python-3.

The error in the log is:
[code]

[2019-11-21 22:54] gdomenici commented on #21
Still to do: also make it work on Python 2, for all Kodi versions <=18.

[2019-11-23 22:27] #21 closed

[2019-11-26 15:09] gdomenici opened #23 "Plugin version 1.3.1 does not work on Android or on Mac"
See https://forum.kodi.tv/showthread.php?tid=239955&pid=2903428#pid2903428:

[2019-11-26 17:21] iamratso commented on #23
first device name MIBOX4 XIAOMI
android version 8.1.0
android security patch level may 5 2019
kernel version 4.9.61

second device element smp9003 pro
android version 4.4.2
kernel version ubuntu@ubuntu#2

thank you that's all i can muster i'm a borderline moron with computers

[2019-11-26 19:04] gdomenici commented on #23
Thanks for the extra info @iamratso . The issue is (I think) fixed in 1.3.2, which i just published here on GitHub & submitted to the main Kodi plugin repo. I expect that in the next day or two the updated version will show up in the Kodi plugin gallery.

[2019-11-26 19:04] #23 closed

[2019-11-26 19:08] iamratso commented on #23
many thanks

[2020-01-27 17:59] usphil opened #24 "Sort by Date"
Hi,

I used this addon for a long time and very appreciate your work. It's really help me to watch my video from Kodi and PCLOUD.

I just have a little bit problem with the files sort by name. Will this addon support sort by date option? Now it has the feature sort by name only. It's hard for me to find a new video just added.

Thank you very much for the great addon

[2020-01-28 09:28] gdomenici commented on #24
Hi @usphil ,

Thanks for your kind words. Yes, it should be possible. I'll look into it when I find a chunk of time.

Bets regards,

Guido

[2020-01-28 09:29] gdomenici commented on #24
(note to self: see http://mirrors.xbmc.org/docs/python-docs/stable/xbmcplugin.html)

[2020-01-30 22:26] gdomenici commented on #24
Hi @usphil

This is now addressed in 1.4.0 (see Releases). In the next day or two it will probably also show up in the official Kodi repo.

Kind regards,

Guido

[2020-01-30 22:26] #24 closed

[2020-02-23 18:28] rene1980 opened #26 "Feature Request NOT an Issue"
Please it is possible, to the following feature
At the Moment it is not possible to access to the Crypto Folder on pCloud
But it would be great if you can add this feature to the pcloud video addon beacause so I (an other useres) can put privat videos to crypto folder and show this over kodi

[2020-02-25 08:39] gdomenici commented on #26
Hi @rene1980 ,

Sure, I'll look into whether it is at least possible, as soon as I get a moment. If so, it should not be a problem.

Kind regards,

Guido

[2020-03-03 12:08] gdomenici commented on #26
Hi @rene1980 ,

The PCloud documentation does not contain any information on how to use Crypto folders, so I reached out to PCloud support. They say that, alas, the client-side Crypto folders implementation is a "trade secret" if you will, i.e. only possible from their proprietary client software.

I strongly disagree with that position - security should not be done "through obscurity" -- but unfo

[2020-03-03 12:08] #26 closed

[2020-03-11 09:11] kavita9742 commented on #20
But i am facing same issue . i have window 10

[2020-03-11 09:12] kavita9742 commented on #20
still i am facing same issue even though i have set system variable to PYTHONHTTPSVERIFY=0.

[2020-03-11 21:14] gdomenici commented on #20
Hi @kavita9742

May I have from you a snippet from the relevant lines in the log file? Let me know if you need help finding the log file location.

Kind regards,

Guido

[2020-03-30 06:46] gdomenici commented on #16
Additional request (which is probably for the same): https://forum.kodi.tv/showthread.php?tid=239955&pid=2935647#pid2935647.

[2020-04-07 10:00] gkapan opened #27 "Cannot go back to the main directory"
Using 1.4.1 with Leia 18.6 and Nolimits. It is not possible to go back to the root directory of pCloud and the only way to bypass this is to uninstall and reinstall and logon again. All of the sudden the system gets you to a directory that has no "Go to Parent" and when you go back you just exit the add-on. If you want me to reproduce it somehow or submit a video let me know

[2020-04-25 20:11] gdomenici commented on #27
Hi @gkapan
Indeed, it would help me if you had a reproduction case handy... I have tried to repro it myself, but it seems to work OK - I can always navigate my way to the root folder.
Kind regards,
Guido

[2020-05-29 14:29] gkapan commented on #27
Back to parent folder does not exist. Chrck this video. The two dots to go back do not work as “go to parent”

https://u.pcloud.link/publink/show?code=XZaOYtkZlTkRgzyQoj4Xw1brKqDCxRFClu97

[2020-05-30 04:52] gkapan commented on #27
OK, after uninstalling and installing back, “back to parent folder” has returned :) this is my workaround kerpimg the settings when it happens
![DBB7D308-C52C-43C7-94AD-BCA79B27B741](https://user-images.githubusercontent.com/63290144/83319833-76a49a80-a24a-11ea-88bf-603101151925.jpeg)

[2020-05-30 04:56] gkapan commented on #27
Here you can see that “back to parent folder” is not also on the top because numbers are higher in sorting. Another option is to have “back to parent folder” always under the dots on the top or simply make the dots to go back and after you go to the root to exit :)
![19A7367B-54BF-4C19-B4B3-DE45A7D0A027](https://user-images.githubusercontent.com/63290144/83319920-1530fb80-a24b-11ea-8eba-60209eefa6

[2020-06-07 15:48] gdomenici commented on #27
Hi @gkapan

Good catch - indeed, it sorts alphabetically. I'll see whether it's possible to lose the ".." or, if not at least make sure that "Back to parent folder" always sorts on top.

Kind regards,

Guido

[2020-06-07 19:59] gdomenici commented on #27
Hi @gkapan ,

In fact, the issue is elusive, coz it doesn't reproduce on the "en-us" locale, i.e. if your Kodi language is set to US English. I could, however, reproduce it by setting the Kodi language to "English - New Zealand" (and possibly other ones, too).

At any rate, now it's fixed in 1.4.2, which I just released on GitHub -- see [Releases tab](https://github.com/gdomenici/plugin.video.pclo

[2020-06-07 19:59] #27 closed

[2020-06-08 14:11] gdomenici opened #28 "ListItem.setIconImage() has been removed in Matrix. Replace it with setArt(). (No problem in using it for Helix-Leia though)."
`ListItem.setIconImage()` has been removed in Matrix. Replace it with `setArt()`. (No problem in using it for Helix-Leia though).

[2020-06-08 14:15] gdomenici opened #29 "Thumbnails are currently not being shown"
In list view mode, thumbnails are not being shown. Possibly it is due to using a URL instead of a local filename. Needs to be investigated after #28 .

[2020-06-08 14:16] gdomenici commented on #20
Closing due to long inactivity. If any need, please reopen.

[2020-06-08 14:16] #20 closed

[2020-12-29 19:34] azndoodle opened #32 "error calling api.pcloud.com/userInfo"
running ver 1.4.2 on Kodi 18.4 and error occurred when entering pcloud account.
Event Log logged error as "Error: cannot logon to pCloud: Error calling userInfo: Unknown error".

[2021-01-07 14:23] swabfu commented on #32
I have the exact same issue, dunno how to fix it. Tried reinstalling the add-on a few times. I have a free account, and the account works everywhere else I log into. Maybe I have to install from .zip instead of inside the Kodi app?

[2021-01-07 14:32] gdomenici commented on #32
Hi @azndoodle , @swabfu

I'll take a look. It could well be that PCloud changed something in their logon API; haven't tried for a while.

May i have info from you on what platform you're on? Windows, Mac, Android, etc., and what version of that platform?

Kind regards,

Guido

[2021-01-07 15:20] swabfu commented on #32
Hey Guido,
I'm using the latest stable Kodi build (18.9) and version 1.4.2 of pCloud. Windows 10, version 20H2. If there's anything else I can help you with, just let me know.
Thanks in advance

[2021-01-07 20:44] gdomenici commented on #32
Hi @swabfu ,

Thanks for the information. Alas, I cannot reproduce the error - for me it works fine with the exact configuration you describe. But maybe try these steps:

* Go to the directory C:\Users\YOUR_USERNAME\AppData\Roaming\Kodi\userdata\addon_data
* Delete its subfolder `plugin.video.pcloud-video-streaming`
* Then go to the directory C:\Users\YOUR_USERNAME\AppData\Roaming\Kodi\addons
* De

[2021-01-07 22:26] azndoodle commented on #32
Hi @gdomenici,

Sorry for the late reply, In my case I was trying it on Nvidia Shield and mac osx Big Sur.

I have a paid pcloud account and I notice there is a 2-step authentication when I login through the web. Not sure if that's relevant. I can try to open a free account and try as well to see if there's a difference.

[2021-01-07 22:28] swabfu commented on #32
Hey,
I followed your steps and it works now, thanks :)

[2021-01-18 08:05] gdomenici commented on #32
Hi @swabfu ,
You're welcome. Thanks for the confirmation.

Hi @azndoodle ,
If it's about 2-factor authentication (2FA) we're potentially in trouble. PCloud simply doesn't let you use 2FA via the API, which is what we use behind the scenes in the plugin. [These guys](https://github.com/PhilippC/keepass2android/issues/605) (unrelated project, but also using the PCloud API) seem to have the same prob

[2021-01-20 08:03] gdomenici commented on #32
Hi @azndoodle

The PCloud support team stated that "The 2FA is not possible with API. If an user has 2FA enabled, he won't be able to access pCloud from other 3rd party apps."

So, unfortunately, it looks like we cannot enable 2FA in the plugin. Sorry about that. Closing this issue.

Kind regards,

Guido

[2021-01-20 08:03] #32 closed

[2021-02-18 07:33] jack009j opened #33 "External audio support"
Thanks gdomenici for your wonderful work on this pcloud add-on,can you add a support for external audio like as external subtitles,In Kodi If we play file locally,if the movie file name and external audio file name is same then Kodi automatically combine and give option to select the external audio too.eg: movie.mkv and movie external audio.mka then Kodi add the external audio to the movie.
Kindly

[2021-04-20 03:27] Theblueearth opened #34 "Can't install from zip file"
When trying to install from zip on Kodi v19 an error shows up saying "The dependency on xbmc.python version 2.19.0 could not be satisfied."

[2021-05-08 15:20] carneal4 opened #35 "Fixes done for Kodi Matrix"
[plugin.video.pcloud-video-streaming-master.zip](https://github.com/gdomenici/plugin.video.pcloud-video-streaming/files/6446063/plugin.video.pcloud-video-streaming-master.zip)

Made updates for compatibility with Kodi Matrix.  Tested and works okay with Mac and Chrome OS.

File listing shows video clips less than 30 seconds.  Maybe someone else can provide a fix?

[2021-06-21 18:07] gkapan opened #36 "Kodi Matrix"
Hello Guido,

Please help us, kodi matrix is much faster and we need an update for pcloud addon :)

[2021-06-22 08:58] gdomenici commented on #36
Hi @gkapan ,

Absolutely. Will look into it as soon as possible.

[2021-06-22 11:37] gkapan commented on #36
@gdomenici, this is perfect ! Keep in mind that I have already tested @carneal4 fix in issue #35 and it works in Matrix !!!

https://github.com/gdomenici/plugin.video.pcloud-video-streaming/issues/35

[2021-06-24 13:30] gdomenici commented on #36
Hi @gkapan ,

I have massaged in Carneal's changes -- now released 1.5.0. Please see https://github.com/gdomenici/plugin.video.pcloud-video-streaming/releases/tag/1.5.0.

Soon submitting to master plugins repo.

Kind regards,

Guido

[2021-06-24 13:30] #36 closed

[2021-06-24 13:32] gdomenici commented on #35
Thanks @carneal4 . I have worked in your changes into release 1.5.0 -- see https://github.com/gdomenici/plugin.video.pcloud-video-streaming/releases/tag/1.5.0. Thanks for your help.

Will soon submit the plugin to the master repo, too.

Kind regards,

Guido

[2021-06-24 13:32] #35 closed

[2021-06-24 13:54] gdomenici commented on #34
Hi @Theblueearth ,

This ought to have been fixed by 1.5.0 -- please see https://github.com/gdomenici/plugin.video.pcloud-video-streaming/releases/tag/1.5.0.

Kind regards,

Guido

[2021-06-24 13:54] #34 closed

[2021-06-24 13:54] gdomenici commented on #28
Fixed in 1.5.0 -- https://github.com/gdomenici/plugin.video.pcloud-video-streaming/releases/tag/1.5.0

[2021-06-24 13:55] #28 closed

[2021-06-24 15:34] jack009j commented on #33
@gdomenici any update regarding this feature, already Kodi have inbuilt function for local file,but if using add on it not available.And Thanks for Kodi 19 add on update.

[2021-06-25 14:19] carneal4 commented on #35
Guido,

Thanks for coding the original work.  Hope everyone enjoys the updated compatibility with Kodi.

Robert

[2021-08-22 21:20] shubham1358 opened #38 "Unable to sign in Kodi 19.1.0 | Platform Windows | Pcloud EU"
[code]

[2021-08-29 13:19] gdomenici commented on #38
Hi @shubham1358 ,

This is unexpected. It seems to work for me on exactly the same configuration as you have.

Maybe if you please try this:

1. Close Kodi,
2. Delete the directory C:\Users\Shubham\AppData\Roaming\Kodi\userdata\addon_data\plugin.video.pcloud-video-streaming
3. Reopen Kodi, and go to the PCloud Video Streaming add-on

You will be asked to reauthenticate. In principle, it should wor

[2021-08-30 07:38] gdomenici commented on #33
Another user suggested that this could be implemented according to this example:

* https://github.com/xbmc/xbmc/pull/16273
* https://forum.kodi.tv/showthread.php?tid=324413

Namely, that if an audio file is found with the same basename as the video track, that file will be used for audio. I will attempt to implement it according to this requirement.

[2021-09-11 16:31] gdomenici commented on #33
Update: there seems to be no obvious way to do it according to the documentation. Have asked a question on the forums: https://forum.kodi.tv/showthread.php?tid=364417.

[2021-09-12 09:10] gdomenici commented on #38
This should be fixed by [version 1.5.1](https://github.com/gdomenici/plugin.video.pcloud-video-streaming/releases/tag/1.5.1) - now added a setting to let one choose eapi.pcloud.com as an endpoint.

[2021-09-12 09:10] #38 closed

[2021-10-03 12:57] gdomenici opened #42 "Setting to allow choice of endpoint API - backport to plugin version 1.4.x"
This ought to address users that cannot upgrade their Kodi to Matrix (19.x). Plugin version 1.4.x, on the other hand, still runs on Kodi Helix (14.x).

[2021-10-03 13:26] gdomenici commented on #42
This is addressed in https://github.com/gdomenici/plugin.video.pcloud-video-streaming/releases/tag/1.4.3.

[2021-10-03 13:26] #42 closed, assigned to nobody

[2021-10-17 11:34] gdomenici opened #43 "Update README to clarify that the plugin works only when 2FA is disabled on PCloud"
See https://github.com/gdomenici/plugin.video.pcloud-video-streaming/issues/32#issuecomment-763414931

[2021-10-27 19:54] puhbooh opened #44 "ERROR: cannot logon to pCloud: Error calling userinfo: Log in failed"
hi,
if a try to login with your plugin i get following error.

[code]

my setup:
kodi 19.1.0 on fire cube
latest plugin version
2FA is off

do you have any idea why it doesn't work?

[2021-10-31 11:07] gdomenici commented on #44
Hi @puhbooh

Chances are this is due to the fact that you registered to PCloud on the EU data region as opposed to the "rest of the world" one. See screenshot:

![image](https://user-images.githubusercontent.com/6001341/139579840-0f76cfcc-494f-4be3-8b5c-b9d841e90588.png)

If that is so, you need to change the corresponding setting in the plugin's Settings page. Namely, change "PCloud API URL" to h

[2021-10-31 12:32] puhbooh commented on #44
Hi Guido,

thanks for your answer. This was the problem :)

Is it possible to add pcloud as media source? so that I can import the files into the media library?

Kind regards,

Marco

[2021-10-31 17:05] gdomenici commented on #44
Hey Marco,

You're welcome. Concerning using PCloud as media source -- indeed, that's something that's been asked before (see https://github.com/gdomenici/plugin.video.pcloud-video-streaming/issues/16). I will look into the feasibility as soon as I get some time.

Kind regards,

Guido

[2021-10-31 17:05] #44 closed, assigned to nobody

[2021-10-31 19:21] puhbooh commented on #16
that would be great 😊

Thanks for your work.

[2021-11-06 16:15] gdomenici commented on #16
Hello @puhbooh ,

In principle there is a way you can _already_ use the plugin as media source. Steps:

* Install the plugin normally.
* Go to Videos, then Files, then "Add videos..."
![image](https://user-images.githubusercontent.com/6001341/140616200-7514e8c0-1656-4978-a3b5-c617dd2f1762.png)
* In the "Add video source" dialog, click on "\<None\>" (do _not_ click Browse)
![image](https://user-ima

[2021-12-07 22:33] spacebug96 opened #45 "ConnectionResetError: [Errno 104] Connection reset by peer"
I use CoreELEC 19.3-Matrix with latest pcloud-video-streaming plugin, but I got following error,  for non empty folders:

Do you have any idea why this error is coming? Please help me to solve it

[2021-12-10 21:18] gdomenici commented on #45
Hi @spacebug96
Thanks for reporting this issue, and for the log. I'm afraid I cannot reproduce this, not easily at least... Do you see this each and every time you try and access a non-empty folder? Or only sometimes? Does the folder in question have any "peculiar" characteristics? (maybe an unusually large number of files?)

Also, what is the exact version of the plugin you're on?

Kind regards,

[2021-12-11 18:32] spacebug96 commented on #45
Hello @gdomenici,

Yes, I see this problem ever time when I switch to folder with files. Folder which contains sub-folders only is displayed correctly.
The problem doesn't depends on number of files.

I use latest version for matrix, so 1.5.1

Best regards,
spacebug

[2021-12-12 16:46] gdomenici commented on #45
Hey @spacebug96

I have to admit I have never tested the plugin on CoreElec (only Windows, Mac, Android, and LibreElec on Raspberry PI), But I can give it a shot.

Here on the [CoreElec download page](https://coreelec.org/#download) I see there is a number of hardware options to pick from. Probably makes sense for me to create/find a virtual machine of the same hardware you're using.

What hardwar

[2021-12-12 19:08] spacebug96 commented on #45
Dear @gdomenici,

I use X96 Max box with following CPU:
model name      : Amlogic S905X2 rev b
Hardware        : Amlogic
Revision        : 0400

I think the LE image is general for all boxes, only the DTB is different. For my HW is "sm1_s905x3_4g_1gbit"

If you want, I can help to debug the problem with MITM reverse proxy. I'm a developer also :)

Best regards,
spacebug

[2022-02-01 12:29] Timbo104 commented on #43
I intend to write to pCloud in support of your request for PCloud to expose their API to third-party developers. If other Kodi/pCloud users do as well we might be able to apply sufficient pressure to get the developers to do something.

[2022-02-02 15:27] gdomenici commented on #43
Thanks for that @Timbo104 .
OK if I close this ticket in the meantime? It's not like there's anything actionable until PCloud implements this (if they ever do).

[2022-02-03 08:33] Timbo104 commented on #43
Guido,
I've written to pCloud. They didn't know what Kodi was! I've written a fuller briefing and waiting to hear back from them. I'm not optimistic.
Close the ticket and when I hear something I'll update you.
TimboC

[2022-02-03 12:08] gdomenici commented on #43
Thanks @Timbo104 . Closing.

[2022-02-03 12:08] #43 closed, assigned to nobody

[2022-03-05 09:29] iamratso opened #46 "New data region login error"
Hello. I have used your excellent addon to stream videos and music from kodi for several years. I just changed the data region of my account from the USA to Europe and I get a login error when I try to log in to my account with the addon. I tried logging in with another account that's in the USA and the login was successful. So the addon must be incompatible with the european servers of pcloud. Co

[2022-03-05 09:49] iamratso commented on #46
I forgot to say that I use android and mac and it doesnt work on either any more.
Thanks again

[2022-03-06 10:53] gdomenici commented on #46
Hi @iamratso

There is a new settings under the addon's setting menu, that lets you choose the data region - US or EU. It defaults to the US one (endpoint https://api.pcloud.com/), but you can switch it there to the EU one (endpoint https://eapi.pcloud.com/).

Hopefully that will fix the issue?

Kind regards,

Guido

[2022-03-06 12:16] iamratso commented on #46
Thank you kindly for your swift reply. Does this apply to both 1.4.2 and 1.5.1 versions?
Thanks again.

[2022-03-06 16:55] gdomenici commented on #46
Hi,

You're very welcome. 1.5.1 is OK, but in the 1.4.x series you need 1.4.3. See https://github.com/gdomenici/plugin.video.pcloud-video-streaming/releases.

Kind regards,

Guido

[2022-03-06 16:55] #46 closed, assigned to nobody

[2022-03-07 07:09] iamratso commented on #46
Hello. I tried it and it works fine. Thank you very much for your help.
Kind regards

On Sunday, March 6, 2022, Guido Domenici ***@***.***> wrote:

[2022-07-22 07:21] mark-alexandre opened #47 "Scrapping not taken into account"
Hi there and thank you for your plugin,

I have properly managed the configuration in order to have my pCloud as a video source. But the problem I'm encountering is that all covers and movies information are not displayed in my media library (in short, the .nfo is totally ignored). Simply said, if I go to "My Movies", Kodi informs me that I have to register a movie source (even if the pCloud sourc

[2022-07-28 14:40] olibri83 opened #48 "Multimedia viewer"
Hi, first thanks you very much for this add-on, very convenient under Kodi on androidtv !
Works great, except for pictures. It's able to show à pic, with a nice effect. but seems unable to change to next or previous files. I can't find any option to modify that.
Does someone would have any idea ?
Thanks

[2022-08-11 16:00] foscacord opened #49 "Strano comportamento tastiera su Xiaomi Mi tv"
Salve, grazie ancora per il contributo! (:

Volevo segnalare che sul dispositivo Xiaomi Mi TV la tastiera SOLO sull'addon di Pcloud ha un comportamento strano. Non esistono i caratteri speciali e non mi è possibile inserire la @ per la mail da inserire. Grazie